#C_1 {
  width: 200px;
  height: 200px;
}

#C_2 {
  width: 200px;
  height: 200px;
}

#C_3 {
  width: 200px;
  height: 200px;
}

#C_4 {
  width: 200px;
  height: 200px;
}

#key {
  width: 200px;
  height: 200px;
}
